.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
higherror.txt
iq-files/*.iq
iq-files/*.png
iq-files2/
iq-files/cov
iq-files/hypothesis
iq-files/sensors
iq-files/gl*
select_sensor.py.lprof
data64/
scalability/gl*
nohup.out*
joblib_memmap/
scalability/
*.lprof
dataSplat/4096/*.png
dataSplat/4096/hypothesis*
dataSplat/1600/hypothesis_*
dataSplat/1600-50/*.txt
dataSplat/1600-100/*.txt
dataSplat/1600-400/*.txt
dataSplat/1600-800/*.txt
dataSplat/1600-50/hypothesis-25-scale-4
dataSplat/1600-100/hypothesis-25-scale-4
dataSplat/1600/hypothesis-25-scale-4
dataSplat/1600-400/hypothesis-25-scale-4
dataSplat/1600-300/hypothesis-25-scale-4
data50/homogeneous-150-2
visualize/localization
visualize/localization-5*
visualize/localization-6*
visualize/localization-10-intru
visualize/splot
visualize/splot-ridge
data50/homogeneous-277/
data50/homogeneous-200/
data50/homogeneous-625/
data50/homogeneous-75-3/
data50/homogeneous-75-4/
